.body{
    background-color: rgb(252, 237, 206);
    color: rgba(63, 48, 48, 0.993);
    overflow-x: hidden;
    overflow-y: scroll;
}
.search-div{
    height: 100vh;
    background-color: rgb(252, 237, 206);
}
.no-result-div{
    width: 100vw;
    height: 84.5vh;
    background-color: rgb(252, 237, 206);
}
.search-div2{
    background-color: rgb(252, 237, 206);
}

.spinner2{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner3{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-result{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 700;
}

.card-body{
    background-color: none;

}

.card-title{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 700;
}

.card-info{
    min-height: 80vh;
    background-color: rgb(252, 237, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-brand{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 700;
}

.show-more{
    border: 2px solid rgb(216, 166, 2);
    background-color: rgb(243, 208, 139);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.right > h1{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 700;
} 
.right > h5{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
} 
.right > div > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
} 
.right > div > p{
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
} 

.detail-img{
    width: 320px;
    height: 400px;
}
